<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Auth0.AuthenticationApi" version="3.4.1" targetFramework="net45" />
  <package id="Auth0.Core" version="3.4.0" targetFramework="net45" />
  <package id="Auth0.NancyFx.SelfHost" version="1.0.0" targetFramework="net45" />
  <package id="Nancy" version="1.4.3" targetFramework="net45" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
</packages>